// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
	font-size: 18pt;	
}

.login_box {
	font-size: 16pt;
	color: rgb(145, 145, 145);	
}